*{
	margin: 0;
	padding: 0;
}
html,body{
	width: 100%;
	height: 100%;
	background: #000;
}

.creepywall{
	width: 100%;
	height: 100%;
	display: block;
	position: relative;
}

.creepywall .background{
	width: 100%;
	height: 100%;
	background:url('../img/creepywall.jpg') center center no-repeat;
	background-size: cover;
	position: absolute;
	top: 0;
	left: 0; 
	z-index: 1;
}

.creepywall .background .black_clip{
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0.9;
}

.creepywall .souls_canvas{
	position: relative;
	top: 0;
	left: 0;
	z-index: 2;
}