.need_connection{
	width: 100%;
	height: 100%;
	background: #fff;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
}

.need_connection .center{
	position: absolute;
	top: 50%;
	left: 50%;
	transform : translateX(-50%) translateY(-50%);
}

.facebook_login_button{
	width:300px;
	height: 50px;
	line-height: 50px;
	color:#fff;
	text-transform: uppercase;
	background: #365899;
	border:none;
	border-radius:10px;
	cursor:pointer;
}