body {
  background: black;
}

h1, h2, h3, h4, h5, h6, p, span {
  color: white;
}

.wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10;
  pointer-events: none;
  transform: translateX(-50%) translateY(-50%);
}

.wrap.victime {
  position: absolute;
  top: 15%;
  left: 30%;
  z-index: 10;
  pointer-events: none;
  transform: translateX(-30%) translateY(-15%);
}

.title {
  margin-bottom: 100px;
  text-transform: uppercase;
}

.txt {
  width: 70%;
  margin: 0 auto;
  text-align: justify;
  line-height: 23px;
  font-size: 1.25em;
}

/*************/
/*** SOULS ***/
.creepywall {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  overflow: hidden;
}
.creepywall .background {
  background: url('../asset/img/creepywall.jpg') center center no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.creepywall .background .black_clip {
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.95;
}
.creepywall .souls {
  margin-top: 0;
  animation: soulsmove 5s infinite ease-in-out;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: transparent;
  display: block;
  position: absolute;
  transform: translateX(-50%) translateY(-50%);
  z-index: 2;
  box-shadow: 0 0 180px 15px #fff;
}
.creepywall .souls .hitbox {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10;
  border-radius: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.creepywall .souls .boxname {
  transition-duration: 0.5s;
  color: white;
}

.hide {
  width: 200px;
  margin: 15px 0 0 -100px;
  text-align: center;
  opacity: 0;
}

.show {
  width: 200px;
  margin: 15px 0 0 -100px;
  text-align: center;
  opacity: 1;
}



.creepywall .souls .glow {
  animation: soulsglow 10s infinite ease-in-out;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: transparent;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  box-shadow: 0 0 180px 15px #fff;
  transform: translateX(-50%) translateY(-50%);
  opacity: 0;
}
.creepywall .souls .inner {
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background: #ffffff;
  box-shadow: 0 0 5px 2px rgba(255, 255, 255, 0.9);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 3;
}
.creepywall .souls .second_halo {
  width: 2px;
  height: 2px;
  animation: secondbreathe 10s infinite ease-in-out;
  animation-delay: 5s;
  border-radius: 50%;
  background: #ffffff;
  box-shadow: 0 0 19px 8px rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 2;
}
@keyframes soulsmove {
  0% {
    margin-top: 10px;
  }
  50% {
    margin-top: -10px;
  }
  100% {
    margin-top: 10px;
  }
}
@keyframes soulsglow {
  0% {
    opacity: 0;
    box-shadow: 0 0 180px 15px #fff;
  }
  10% {
    opacity: 0.3;
    box-shadow: 0 0 190px 20px #fff;
  }
  20% {
    opacity: 0;
    box-shadow: 0 0 180px 15px #fff;
  }
  100% {
    opacity: 0;
    box-shadow: 0 0 180px 15px #fff;
  }
}
@keyframes secondbreathe {
  0% {
    box-shadow: 0 0 10px 8px rgba(255, 255, 255, 0.5);
  }
  10% {
    box-shadow: 0 0 20px 10px rgba(255, 255, 255, 0.5);
  }
  20% {
    box-shadow: 0 0 10px 8px rgba(255, 255, 255, 0.5);
  }
  100% {
    box-shadow: 0 0 10px 8px rgba(255, 255, 255, 0.5);
  }
}
