*{
	padding: 0;
	margin: 0;
	
}
html,body{
	height: 100%;
	width: 100%;
	display: block;
	overflow: hidden;
}

.video{
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	display: block;
	overflow: hidden;
	position: relative;
}

.video video{
	width: 100%;

}

.virgule{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 9999;
}

.virgule video{
	width: 100%;
}

.section {
	width: 100%;
	display: block;
	overflow: hidden;
}
.fp-tableCell{
	overflow: hidden;
	display: block;
}
